.home{
  background:url('./Images/home.jpg') no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  padding-top: 10%;
}
.card-admin{
  left: 20%;
}
.card-user{
  left:  20%;
}

.userLoginForm,.adminLoginForm{
  padding: 10%;
}
.userRegisterForm{
  margin-top: 3%;
  margin-left: 30%;
}
.addbutton{
  margin-left: 80%;
}
.notFound-page{
  border: 1px solid red;
  text-align: center;
  margin-top: 20%;
}
.log-image{
  align-self: center;
}
